.navigation a {
    color: #fff;
    text-decoration: none;
    transition-duration: 500ms;
    border-bottom: 1px solid transparent;
    font-size: 30px;
  }
  
  .navigation a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    }
  
  .label,
  text-area {
    display: block;
    margin: 10px 0 5px 0;
  }
  
  label {
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
  }
  
  li {
    font-size: 16px;
    color: #fff;
  }
  
  .form {
    margin: 15px 0 23px 15px;
  }

  input[type="submit"] {
    display: block;
    width: 50%;
    height: 30px;
    margin-top: 30px;
  }
  
  @media (min-width: 700px) {
    img {
      height: auto;
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .map {
      width: 100%;
      height: 500px;
    }
  
    .my-video {
      width: 100%;
      height: 500px;
      margin-bottom: 30px;
    }
  
    input[type="text"],
    input[type="email"] {
      display: block;
      width: 90%;
      height: 40px;
      padding-left: 20px;
      text-transform: uppercase;
    }
  

    textarea {
      width: 90%;
      height: 120px;
      text-transform: uppercase;
      padding: 10px 0 0 10px;
    }
  }
  
  @media (max-width: 700px) {
    .navigation a {
      color: #fff;
      text-decoration: none;
      transition-duration: 500ms;
      border-bottom: 1px solid transparent;
      font-size: 20px;
    }
  
    .navigation li {
      list-style: none;
    }
  
    .navigation a:hover {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #fff;
    }
  
    img {
      height: auto;
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .map {
      width: 80%;
      display: block;
      margin: 0 auto;
      height: 300px;
      margin-bottom: 30px;
    }
  
    .my-video {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 300px;
      margin-bottom: 30px;
    }
  
    .label,
    text-area {
      display: block;
      margin: 20px 0 5px 0;
    }
  
    label {
      font-size: 18px;
      text-transform: capitalize;
      color: #fff;
    }
  
    input {
      margin-left: 10px;
    }
  
    input[type="text"],
    input[type="email"] {
      display: block;
      width: 80%;
      height: 40px;
      padding-left: 20px;
      text-transform: uppercase;
    }  
 
  
    textarea {
      width: 80%;
      height: 120px;
      text-transform: uppercase;
    
    }
  }
  
button {

   display: block;
    width: 20%;
    height: 30px;
    margin-top: 30px;
  }

