@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@media (min-width: 700px) {
  h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
  }

  h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .small-heading {
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
  }

  .small-heading::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    border-top: 5px solid transparent;
    border-left: 5px solid #fff;
    border-bottom: 5px solid transparent;
  }

  .small-heading::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    border-top: 5px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 5px solid transparent;
  }

  p.information {
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }

  h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .small-heading {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
  }

  .small-heading::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    border-top: 5px solid transparent;
    border-left: 5px solid #fff;
    border-bottom: 5px solid transparent;
  }

  .small-heading::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    border-top: 5px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 5px solid transparent;
  }

  p.information {
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
}
